@model IEnumerable<WebPractica2.Entities.ConsultaVehiculo>

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Consulta de Vehículos</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Vendedor</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.cedula</td>
                                <td>@item.nombre</td>
                                <td>@item.marca</td>
                                <td>@item.modelo</td>
                                <td>@item.precio</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

